{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Add Page{% endblock %}

{% block body_block %}

    {% if category %}
        <form class="form-signin-heading" role="form" id="page_form" method="post" action={% url "add_page" category_name_slug %}>
            <h2>Add a Page to <a href={% url "category" category_name_slug %}> {{ category.name }}</a></h2>

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.label_tag }}
                    <p class="form-signin">{{ field }}</p> <br />
                {% endfor %}
             <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
        </form>
    {% else %}
        <h4>{{ category }} does not exist!</h4>
    {% endif %}

{% endblock %}