<!DOCTYPE html>

<!-- Load static directory as static -->
{% load static %}

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...hello, world!</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }} - Likes: {{ category.likes }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories to present</strong>
        {% endif %}
        <br/>
        <a href="/rango/about">About</a>
    </body>
</html>